@import '~bootstrap/scss/bootstrap';

$shadow-color: #00000029;
$shadow-alertbar: #b4b8bc29;
$dark-grey: #212529;
$light-grey: #cccccc;
$white: #ffffff;
$gray-disabled: #e9ecef;
$gray-disabled-border: #ced4da;
$black: #000000;
$black-transparent-15: rgba(0, 0, 0, 0.15);
$grey-transparent-52: rgba(252, 252, 252, 0.521);

//Bootstrap Override
$primary: #e86000;
$dark-primary: #e86000;
$primary-transparent-25: rgba(232, 96, 0, 0.25);
$light-primary: #ee8f4c;

// $shadow-color: #00000029;
// $shadow-alertbar: #b4b8bc29;
// $green: #28a745;
// $red: #dc3545;
// $yellow: #ffc107;
// $dark-grey: #212529;
// $medium-grey: #777777;
// $light-grey: #cccccc;
// $white: #ffffff;
// $primary: #e86000;
// $light-primary: #ee8f4c;
// $primary-transparent-25: rgba(232, 96, 0, 0.25);
// $gray-disabled: #e9ecef;
// $gray-disabled-border: #ced4da;
// $black: #000000;
// $black-transparent-15: rgba(0, 0, 0, 0.15);
// $grey-transparent-52: rgba(252, 252, 252, 0.521);
